Host *
    IgnoreUnknown AddKeysToAgent,UseKeychain
    UseKeychain yes
    AddKeysToAgent yes

Host github.com
    IdentityFile ~/.ssh/gh

Host source.datanerd.us
    IdentityFile ~/.ssh/ghe
    ConnectTimeout 1

Host feral
    HostName aura.feralhosting.com
    User swimmernick
    RequestTTY yes
    IdentitiesOnly yes
    IdentityFile ~/.ssh/feral_rsa

Host nas
    HostName nas.local
    User nick
    RequestTTY yes
    RemoteCommand tmux new -A -s ssh

Host null
    HostName null.local
    User nick

Host desk
    HostName desk.local
    User pi

Host bathroom
    HostName bathroom.local
    User pi

Host pie
    HostName pie.local
    User pi

Host garage
    HostName garage.local
    User pi

Host basement
    HostName basement.local
    User pi

Host camera
    HostName camera.local
    User pi

Host leopard
    HostName leopard.local
    User nick
    HostKeyAlgorithms +ssh-rsa

Host indigo
    HostName indigo.local
    User nick
    KexAlgorithms +diffie-hellman-group1-sha1
    HostKeyAlgorithms +ssh-rsa
    Ciphers +aes256-cbc
