Host *
    UseKeychain yes
    AddKeysToAgent yes

Host source.datanerd.us
    IdentityFile ~/.ssh/ghe
    ConnectTimeout 1

Host feral
    HostName aura.feralhosting.com
    User swimmernick
    RequestTTY yes
    IdentitiesOnly yes
    IdentityFile ~/.ssh/feral_rsa

Host nas
    HostName nas.local
    User nick

Host null
    HostName null.local
    User nick

Host desk
    HostName desk.local
    User pi

Host bathroom
    HostName bathroom.local
    User pi

Host pie
    HostName pie.local
    User pi

Host garage
    HostName garage.local
    User pi
