Host dev
    HostName dev-nburns.instaedu.com
    User instaedu
    RequestTTY yes
    IdentitiesOnly yes
    IdentityFile ~/.ssh/dev_fish_id_rsa
    ForwardAgent yes
    ForwardX11 yes
    LocalCommand mount-dev

Host dev_sshfs
    HostName dev-nburns.instaedu.com
    User instaedu
    IdentitiesOnly yes
    IdentityFile ~/.ssh/dev_id_rsa

Host bastion
    HostName bastion.instaedu.com
    User nburns

Host feral
    HostName crius.feralhosting.com
    User swimmernick
    RequestTTY yes
    IdentitiesOnly yes
    IdentityFile ~/.ssh/feral_fish_rsa

Host github-instaedu
    HostName github.com
    User git
    IdentityFile ~/.ssh/nick_instaedu_id_rsa

