# Snippets for Javascript

extends javascript

snippet /props/ "create a constructor for props" r
constructor(props) {
  super(props);
  console.log(props);
}
endsnippet

snippet /const/ "constructor" r
constructor() {
  ${1:}
}
endsnippet

snippet /cons/ "console.log" r
console.log();
endsnippet

snippet /rc/ "react class" r
class ${1:} extends React.Component {

	render() {
		return (
		
		);
	}
}
endsnippet
