# Snippets for Ruby

extends python

snippet /main/ "create a main function" r
def main():
	${1:}

if __name__ == '__main__':
	main()
endsnippet

snippet /init/ "create a new class" r
class ${1:}:

	def __init__(self):
endsnippet

snippet /embed/ "launch an ipython repl" r
from IPython import embed; embed()
endsnippet
